$hill: #287324;
$land: #71B16E;
$water: blue;
$highlight-1: yellow;

/* clearfix */
.clearfix-7da63 {
  clear: both;
}

body{
  position: relative;
}

/* board */
.board-b72b1 {
  border: 2px solid #404040;
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
}

.row-5277c .square-55d63:first-child{
  border-left: 1px solid #888;
}

.row-5277c .square-55d63:first-child .tile{
  border-top: 1px solid #888;
}

/* square */
.square-55d63 {
  float: left;
  position: relative;
  box-sizing: border-box;

  border-right: 1px solid #888;
  border-bottom: 1px solid #888;
  border-top: 1px solid transparent;
  border-left: 1px solid transparent;

  /* disable any native browser highlighting */
  -webkit-touch-callout: none;
    -webkit-user-select: none;
     -khtml-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
}

.highlight1-32417, .highlight2-9c5d2{
  -webkit-box-shadow: inset 0 0 3px 3px $highlight-1;
  -moz-box-shadow: inset 0 0 3px 3px $highlight-1;
  box-shadow: inset 0 0 3px 3px $highlight-1;
}

.land0{
  background-color: $land;
}

.land1{
  background-color: $hill;
}

.water0{
  background-color: $water;
}

.unit-a2H1d{
  position: absolute;
  right: 0px;
  left: 0px;
  top: 10%;
  margin-left: auto;
  margin-right: auto;
  border-radius: 50%;
  background-color: purple;
  background-position: 0 0;
  background-repeat: round;
  border: 2px solid black;
}

.unit-a2H1d.teamB-1e1d7 {
  background-color: white;
  color: white;
}

.unit-a2H1d.teamA-3c85d {
  background-color: #C23A4C;
  color: #C23A4C;
}

.unit-a2H1d img{
  position: absolute;
  left: 0;
  right: 0;
  top: 10%;
  margin-left: auto;
  margin-right: auto;
}

.terraform-list{

  .terraform-item{
    display: inline-block;
    font-size: 14pt;

    .terraform-btn{
      padding: 8px 6px;
      box-sizing: border-box;
      width: 100%;

      &.selected{
        -webkit-box-shadow: inset 0 0 3px 3px $highlight-1;
        -moz-box-shadow: inset 0 0 3px 3px $highlight-1;
        box-shadow: inset 0 0 3px 3px $highlight-1;
      }

      &#hillBtn{
        border: 2px solid $hill;
        background-color: lighten($hill, 15%);
      }

      &#landBtn{
        border: 2px solid $land;
        background-color: lighten($land, 15%);
      }

      &#waterBtn{
        border: 2px solid $water;
        background-color: lighten($water, 15%);
      }
    }
  }
}